.navbar {
    height: 11vh;
    width: 100vw;
    position: absolute;
}

.navbar-grid {
    width: 100vw;
    height: 11vh;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.navbar img {
    height: 11vh;
    width: 14vw;
}
.navbar-author {
    font-size: 1.5vw;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar div {
    margin-right: 5vw;
}
.navbar button {
    height: 10vh;
    width: 10vw;
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {
    .navbar {
        height: 7vh;
    }
    .navbar-grid {
        height: 7vh
    }
    .navbar img {
        height: 7vh;
        width: 9vw
    }
    .navbar div {
        margin-left: 2vw;
    }
    .navbar-author {
        width: 8vw;
        height: 7vh;
        font-size: 1vw;
    }
    .navbar-author p {
        font-size: 2vw;
    }
    .navbar button {
        height: 6.5vh;
        width: 8vw;
        font-size: 1vw;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        height: 100%;
        width: 11vw;
        display: block;
    }
    .navbar-grid {
        height: 100vh;
        width: 11vw;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    .navbar div {
        width: 10vw;
        margin: 0;
    }
    .navbar img {
        width: 11vw;
    }
    .navbar button {
        height: 10vh;
        width: 11vw;
        font-size: 1.25vw;
    }
    .navbar-author {
        font-size: 1.5vw;
        text-align: center;
        margin-top: 20vh;
    }
}